*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}

html, body{
    height: 100%;
    background-color: whitesmoke;
}

.menu-principal{
    width: 10%;
    height: 100%;
    background-color:rgba(158, 158, 158, 0.7 );
    padding: 2%;
    position: fixed;
    top:auto;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid transparent;
    
    
}

.menu-lateral{
    margin: 0 2%;
    text-align:left;
}

.menu{
    padding: 1% 2%;
    
}

.menu ul li a {
    text-decoration: none;
    font-size: 13px;
    color: white;
    text-align: center;
    font-family: "Roboto Slab", serif;
    padding: 3%;
}
#logo{
    margin-right: 0 10%;
}
.menu ul img{
    margin: 2% 10%;
}

.menu ul li {
    list-style: none;
    padding: 15%;
    margin-bottom: 1%;
}
.menu ul{
    margin-top: 30%;
}

.nav-bar{
    background-color: black;
    width: 90%;
    height: 5%;
    margin-left: 10%;
}

@media  screen and (max-width:1024px){
    .nav-bar{
        max-width: 97%;
    }
}
#perfil{
    margin: -1%  10%;
    border: 1px solid #ccc;
    border-radius: 60%;
}



section img {
    margin-left: 30%;

}


#sair{
    margin-top: 0.4%;
    margin-right: 2%;
    float: right;
}
#link{
    color: white;
    text-decoration: none;
    float: right;
    margin-top: 0.5%;
    margin-left: -10%;
    margin-right: 0.9%;
    
}
.formulario{
    width: 60%;
    height: 100%;
    margin: 0 auto;
    padding: 10%;
    position: relative;
    
}

.cliente{
    padding: 10% ;
    margin: 0 10px;
    margin-top: -40px;
    margin-bottom: 10px;
    border: 1px solid #BDBDBD;
    border-radius: 5%;
    background-color: white;
    

}
.cliente label, h1{
    margin: 20px 60px;
    color: rgba(4, 100, 4, 1);
    
}
.cliente label{
    font-size: 16px;
    color: green;
}
.cliente input {
    width: 40%;
    padding: 5px;
    margin: 10px 60px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
}

#botao{
    width: 20%;
    padding: 10px;
    background-color: blue;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: white;
    cursor: pointer;
}

