*{
    margin:0;
    padding:0;
}


html, body{
    height: 100%;
}


/*======= Home Page=====*/

header{
    width: 15%;
    height: 100%;
    
}
nav{
    background-color: #612A5E;
    text-align: center;
    height: 100%;
}

nav ul{
    list-style-type: none;
    
}
nav li{
    padding: 50px 0;
}
nav li:hover{
    transform: scale(1.2);
}

nav a{
    
    font-size:1.2em;
    font-family: 'Fira Sans', sans-serif;;
    text-decoration: none;
    color: #ffffff;
}

.logo-branco-pequeno{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}
main{
    width:85%;
}

.menu-itens{
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto;
}

.logo-branco{
    width: 800px;
    height: 800px;
    position: absolute;
    top: 15%;
    left: 30%;
}


